{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="{% static 'images/slider/RISE_event2.jpeg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Representing projects in RISE event
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/workshop.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Dr. Rafia Mumtaz giving workshop
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/demo.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Briefing to Chatha BioCare
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/demo2.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Briefing to Chatha BioCare
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/test.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Field Testing
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/test2.png' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Field visit NARC
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div id="services" class="section-cotent">
        <div class="container">
            <!-- <div class="title-section text-center"> -->
                <!-- <h2></h2> -->
                <!-- <span></span> -->
            <!-- </div> -->
             <!-- /.title-section -->
            <div class="row">
                
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-umbrella"></i>
                            <h3>Project Discussion</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
                            Wheat is Pakistan's staple crop, covering 40% of cultivated land and contributing 3% to GDP
                            <br>

                            Wheat rust is a fungal disease that can cause up to 20% yield reduction, threatening food security
                            <br>

                            An automated system is needed to localize and predict the severity of rust attacks
                            <br>

                            The system uses IoT, edge computing, and machine/deep learning, with a camera capturing high-res images of wheat leaves
                            <br>

                            The Yolo-V7 model detects wheat leaves and a CNN model classifies rust images into healthy, rust-resistant, and rust-susceptible categories
                            <br>
                            The model is integrated into a mobile app and web portal for easy analysis by agriculturists
                            <br>

                            The system helps prevent rust spread by identifying attacks and enabling remedial actions.
                                                    </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->

                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-eye"></i>
                            <h3>Outcome</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
An IoT and AI enabled system (Agri-DMaP) for rust disease detection and predicting its severity level mapping
<br>
Mobile application and a web portal to facilitate the agricultural users to visualize the disease data in details and related early warnings 
<br>
Research publications in well reputed journals and conference publications in prestigious venues.
<br>
Workshops and periodic trainings for the developed system
</div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-bullseye"></i>
                            <h3>Benefits</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
                            Proposed research aims to detect rust disease in wheat crop with enhanced precision.
                            <br>

                            Rust disease can cause up to 50% loss of yield in wheat, which is the 3rd most produced crop globally.
                            <br>

                            Using Agri-DMaP to detect rust and take preventive measures can increase the crop yield and reduce the spread of disease.
                            <br>

                            Saving 25% of crop from rust disease can have a significant impact on overall food market and aligns with the Zero Hunger SDG.
                            <br>

                            Increased yield can boost the economy of countries like Pakistan, fulfilling the Decent Work and Economy Growth SDG.
                            <br>

                            Agri-DMaP is a step towards smart agriculture, promoting responsible and optimal consumption of resources and reducing pollution, aligning with the Responsible Consumption and Production SDG.    
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                
            </div> <!-- /.row -->

            <div class="row">

                <div class="container" style="text-align: center;">
                    <iframe src="{% static 'video/agridmap.mp4' %}" width="640" height="360"></iframe>
                </div>

        </div> <!-- /.row -->

        </div> <!-- /.container -->
    </div> <!-- /#services -->

    
    <div id="portfolio" class="section-content" style="padding-bottom: 10px; padding-top: 10px;">
        <div class="container">
            <div class="title-section text-center">
                <h2>Our COLLABORATIONS</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">

                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/NARC.jpg' %}" alt="NARC">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/NARC.jpg' %}">N.A.R.C</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <!-- Dr Aftab Ahmad -->
                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/cbc.png' %}" alt="Chattha Bio Care">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/cbc.png' %}">Chattha Bio Care</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <!-- Dr Aftab Ahmad -->
                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/alfoze.png' %}" alt="alfoze">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/alfoze.png' %}">alfoze</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/ncai.jpg' %}" alt="NCAI">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/ncai.jpg' %}">N.C.A.I</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

            </div> <!-- /.row -->
            
        </div> <!-- /.container -->
    </div> <!-- /#portfolio -->
    

    <div id="contact" class="section-cotent">


        <div class="container">
            <div class="title-section text-center">
                <h2>Contact Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <h4 class="widget-title">Send a message to us</h4>
                    <div class="contact-form">
                        <p class="full-row">
                            <label for="name-id">Your Name:</label>
                            <input type="text" id="name-id" name="name-id">
                        </p>
                        <p class="full-row">
                            <label for="email-id">Email:</label>
                            <input type="text" id="email-id" name="email-id">
                        </p>
                        <p class="full-row">
                            <label for="subject-id">Subject:</label>
                            <input type="text" id="subject-id" name="subject-id">
                        </p>
                        <p class="full-row">
                            <label for="message">Message:</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </p>
                        <input class="mainBtn" type="submit" name="" value="Send Message">
                    </div>
                </div> <!-- /.col-md-3 -->
                <div class="col-md-5 col-sm-6">
                    <h4 class="widget-title">Our location</h4>
                    <!-- <div class="map-holder">
                        <div class="google-map-canvas" id="map-canvas" style="height: 250px;">
                        </div>
                    </div>  -->
                    <!-- /.map-holder -->
                    <div class="contact-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi, non ducimus nesciunt in commodi similique aliquam omnis ea at!</p> -->
                        <span><i class="fa fa-home"></i>IoT Lab, SEECS, NUST H-12, Islamabad, Pakistan </span>
                        <span><i class="fa fa-phone"></i>051-90852161</span>
                        <!-- <span><i class="fa fa-envelope"></i>rafia.mumtaz@seecs.edu.pk</span> -->
                        <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                    </div>
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#contact -->

    {% endblock %}