{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Agri D Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">
    
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    
    <!-- JavaScripts -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    
    <!-- <script src="js/main.js"></script> -->
    
    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
        </script> 

    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->

    

</head>
<body>
    
    <div class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="left-header">
                            <span><i class="fa fa-phone"></i>051-90852161</span>
                            <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                        </div> <!-- /.left-header -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6">
                        <div class="right-header text-right">
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/rafia-mumtaz-6817b535/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://scholar.google.com/citations?user=i6qLmkkAAAAJ&hl=en&oi=ao" class="fa fa-google-plus"></a></li>
                                <li><a href="https://twitter.com/RafiaMumtaz4" class="fa fa-twitter"></a></li>
                            </ul>
                        </div> <!-- /.left-header -->
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        
        <div class="main-header">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-6">
                        <div class="logo">
                            <!-- <h1><a href="index.html" title="Dreri">Internet of Things Lab</a></h1> -->
                            <a href="index" title="Dreri"><img src="{% static 'images/agridmap.png' %}" height="60px" alt=""></a>
                            <!-- <img src="images/OB.png" height="70px" alt=""> -->
                            <!-- <img src="images/blue.png" height="70px" alt=""> -->


                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-11 col-sm-11 col-xs-6">
                        <div class="menu text-right hidden-sm hidden-xs">
                            <ul>
                                <li><a href="#Home">Home</a></li>
                                <li><a onclick="location.href='home'" href="">Disease Detector</a></li>

                                <li><a onclick="location.href='team'" href="index.html">Team</a></li>
                                <li><a onclick="location.href='publications'" href="publications.html">Publications</a></li>
                                <!-- <select onchange="switchLanguage(this.value)">
                                    <option value="en">English</option>
                                    <option value="ur">اردو</option>
                                  </select> -->
                            </ul>
                        </div> <!-- /.menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
                <div class="responsive-menu text-right visible-xs visible-sm">
                    <a href="#" class="toggle-menu fa fa-bars"></a>
                    <div class="menu">
                        <ul>
                            <li><a href="#Home">Home</a></li>
                            <li><a onclick="location.href='home'" href="">Disease Detector</a></li>
                            <li><a onclick="location.href='team'" href="index.html">Team</a></li>
                            <li><a onclick="location.href='publications'" href="publications.html">Publications</a></li>
                        </ul>
                    </div> <!-- /.menu -->
                </div> <!-- /.responsive-menu -->
            </div> <!-- /.container -->
        </div> <!-- /.header -->
    </div> <!-- /.site-header -->

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="{% static 'images/slider/RISE_event2.jpeg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Representing projects in RISE event
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/workshop.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Dr. Rafia Mumtaz giving workshop
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/demo.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Briefing to Chatha BioCare
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/demo2.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Briefing to Chatha BioCare
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/test.jpg' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Field Testing
                    </p>
                </div>
            </li>

            <li>
                <img src="{% static 'images/slider/test2.png' %}" alt="">
                <div class="flex-caption">
                    <h2></h2>
                    <span></span>
                    <p>Field visit NARC
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div id="services" class="section-cotent">
        <div class="container">
            <!-- <div class="title-section text-center"> -->
                <!-- <h2></h2> -->
                <!-- <span></span> -->
            <!-- </div> -->
             <!-- /.title-section -->
            <div class="row">
                
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-umbrella"></i>
                            <h3>Project Discussion</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
                            Wheat is Pakistan's staple crop, covering 40% of cultivated land and contributing 3% to GDP
                            <br>

                            Wheat rust is a fungal disease that can cause up to 20% yield reduction, threatening food security
                            <br>

                            An automated system is needed to localize and predict the severity of rust attacks
                            <br>

                            The system uses IoT, edge computing, and machine/deep learning, with a camera capturing high-res images of wheat leaves
                            <br>

                            The Yolo-V7 model detects wheat leaves and a CNN model classifies rust images into healthy, rust-resistant, and rust-susceptible categories
                            <br>
                            The model is integrated into a mobile app and web portal for easy analysis by agriculturists
                            <br>

                            The system helps prevent rust spread by identifying attacks and enabling remedial actions.
                                                    </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->

                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-eye"></i>
                            <h3>Outcome</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
An IoT and AI enabled system (Agri-DMaP) for rust disease detection and predicting its severity level mapping
<br>
Mobile application and a web portal to facilitate the agricultural users to visualize the disease data in details and related early warnings 
<br>
Research publications in well reputed journals and conference publications in prestigious venues.
<br>
Workshops and periodic trainings for the developed system
</div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                
                <div class="col-md-4 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-bullseye"></i>
                            <h3>Benefits</h3>
                        </div>
                        <div class="service-description" style="text-align: justify;">
                            Proposed research aims to detect rust disease in wheat crop with enhanced precision.
                            <br>

                            Rust disease can cause up to 50% loss of yield in wheat, which is the 3rd most produced crop globally.
                            <br>

                            Using Agri-DMaP to detect rust and take preventive measures can increase the crop yield and reduce the spread of disease.
                            <br>

                            Saving 25% of crop from rust disease can have a significant impact on overall food market and aligns with the Zero Hunger SDG.
                            <br>

                            Increased yield can boost the economy of countries like Pakistan, fulfilling the Decent Work and Economy Growth SDG.
                            <br>

                            Agri-DMaP is a step towards smart agriculture, promoting responsible and optimal consumption of resources and reducing pollution, aligning with the Responsible Consumption and Production SDG.    
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->

    
    <div id="portfolio" class="section-content">
        <div class="container">
            <div class="title-section text-center">
                <h2>Our COLLABORATIONS</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">

                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/NARC.jpg' %}" alt="NARC">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/NARC.jpg' %}">N.A.R.C</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <!-- Dr Aftab Ahmad -->
                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/cbc.png' %}" alt="Chattha Bio Care">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/cbc.png' %}">Chattha Bio Care</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <!-- Dr Aftab Ahmad -->
                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/alfoze.png' %}" alt="alfoze">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/alfoze.png' %}">alfoze</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

                <div class="col-md-2 col-sm-6">
                    <div class="portfolio-thumb">
                        <img src="{% static 'images/keyConnection/ncai.jpg' %}" alt="NCAI">
                        <div class="overlay">
                            <div class="inner">
                                <h4><a href="{% static 'images/keyConnection/ncai.jpg' %}">N.C.A.I</a></h4>
                                <span></span>
                            </div>
                        </div> 
                    </div> <!-- /.portfolio-thumb -->
                </div> <!-- /.col-md-3 -->

            </div> <!-- /.row -->
            
        </div> <!-- /.container -->
    </div> <!-- /#portfolio -->
    

    <div id="contact" class="section-cotent">

        <div class="container" style="text-align: center;">
            <iframe src="{% static 'video/agridmap.mp4' %}" width="640" height="360"></iframe>
        </div>

        <div class="container">
            <div class="title-section text-center">
                <h2>Contact Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <h4 class="widget-title">Send a message to us</h4>
                    <div class="contact-form">
                        <p class="full-row">
                            <label for="name-id">Your Name:</label>
                            <input type="text" id="name-id" name="name-id">
                        </p>
                        <p class="full-row">
                            <label for="email-id">Email:</label>
                            <input type="text" id="email-id" name="email-id">
                        </p>
                        <p class="full-row">
                            <label for="subject-id">Subject:</label>
                            <input type="text" id="subject-id" name="subject-id">
                        </p>
                        <p class="full-row">
                            <label for="message">Message:</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </p>
                        <input class="mainBtn" type="submit" name="" value="Send Message">
                    </div>
                </div> <!-- /.col-md-3 -->
                <div class="col-md-5 col-sm-6">
                    <h4 class="widget-title">Our location</h4>
                    <!-- <div class="map-holder">
                        <div class="google-map-canvas" id="map-canvas" style="height: 250px;">
                        </div>
                    </div>  -->
                    <!-- /.map-holder -->
                    <div class="contact-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi, non ducimus nesciunt in commodi similique aliquam omnis ea at!</p> -->
                        <span><i class="fa fa-home"></i>IoT Lab, SEECS, NUST H-12, Islamabad, Pakistan </span>
                        <span><i class="fa fa-phone"></i>051-90852161</span>
                        <!-- <span><i class="fa fa-envelope"></i>rafia.mumtaz@seecs.edu.pk</span> -->
                        <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                    </div>
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#contact -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Copyright &copy; 2023 Internet of Things Lab (IoT), NUST-SEECS</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Back to Top
                        </a>
                    </div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">

        function initialize() {
          var mapOptions = {
			  scrollwheel: false,
            zoom: 15,
            center: new google.maps.LatLng(13.758468,100.567481)
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>

<script>
    function switchLanguage(lang) {
      if (lang === "en") {
        document.documentElement.lang = "en"; // Set the language attribute to English
        document.getElementById("englishContent").style.display = "block"; // Show English content
        document.getElementById("urduContent").style.display = "none"; // Hide Urdu content
      } else if (lang === "ur") {
        document.documentElement.lang = "ur"; // Set the language attribute to Urdu
        document.getElementById("englishContent").style.display = "none"; // Hide English content
        document.getElementById("urduContent").style.display = "block"; // Show Urdu content
      }
    }
  </script>

</body>
</html>