{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="about" class="section-cotent">
        <div class="container">
            <br>
            <div class="title-section text-center"> 
                <h2>Publications</h2>
                <span></span>
            </div>
 
                        <table>
                            <tr>
                              <th >Title</th>
                            </tr>

                            <tr>
                                <td>
                                     Uferah Shafi · Rafia Mumtaz et al., "Embedded AI for Wheat Yellow Rust Infection Type Classification," in IEEE Access, vol. 11, pp. 23726-23738, 2023, doi: 10.1109/ACCESS.2023.3254430.                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Uferah Shafi · Rafia Mumtaz · Zunaira Shafaq · Syed Mohammad Hassan Zaidi · Muhammad Owais Kaifi · Zahid Mahmood · Syed Ali Raza Zaidi , "Wheat rust disease detection techniques: a technical perspective", Journal of Plant Diseases and Protection, Vol. 129 , No. 4, PP. 489–504, Aug, 2022. IF: 1.847
                                </td>
                            </tr>

                            <tr>
                                <td>Ihsan Ul Haq, Rafia Mumtaz, Muhammad Talha, Zunaira Shafaq and Muhammad Owais, "Wheat Rust Disease Classification using Edge-AI", 2nd International Conference of Artificial Intelligence (ICAI-22), Mar, 2022, NUST-NCAI, Islamabad , Pakistan
                                </td>
                            </tr>

        
                            <tr>
                                <td>Uferah Shafi, Rafia Mumtaz *, Ihsan Ul Haq, Maryam Hafeez, Naveed Iqbal, Arslan Shaukat, Syed Mohammad Hassan Zaidi, Zahid Mahmood , "Wheat Yellow Rust Disease Infection Type Classification using Texture Features", Sensors, Vol. - , No. -, PP. -, Jan, 2022. IF: 3.576</td>
                            </tr>
                            
                            <tr>
                                <td>Hassan Raza Bukhari; Rafia Mumtaz; Salman Inayat; Uferah Shafi; Ihsan Ul Haq; Syed Mohammad Hassan Zaidi; Maryam Hafeez , "Assessing the Impact of Segmentation on Wheat Stripe Rust Disease Classification using Computer Vision and Deep Learning", IEEE Access, Vol. - , No. -, PP. -, Dec, 2021. IF: 3.367</td>
                            </tr>
                            <tr>
                                <td>Muhammad Hassan Maqsood, Rafia Mumtaz , Ihsan Ul Haq, Uferah Shafi, Syed Mohammad Hassan Zaidi and Maryam Hafeez , "Super Resolution Generative Adversarial Network (SRGANs) for Wheat Stripe Rust Classification.", Sensors, Vol. 21 , No. 23, PP. 1-12, Nov, 2021. IF: 3.576</td>
                            </tr>

                          </table>
        
</div>


<div class="container">
    <br>
    <div class="title-section text-center"> 
        <h2>Patents</h2>
        <span></span>
    </div>

                <table>
                    <tr>
                      <th> Title</th>
                    </tr>

                    <tr>
                        <td>
                            AgriViU-Agri Vision Unit for Wheat Stripe Rust Disease Monitoring 
                            [Application No. 21299-D]  - Filed                      </td>
                    </tr>

                  </table>

</div>

    </div> <!-- /#about -->

    {% endblock %}