{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Agri D Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-misc.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-main.css' %}">
    
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
    
    <!-- JavaScripts -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    
    <!-- <script src="js/main.js"></script> -->
    
    <script> 
        $(function(){
          $("#header").load("header.html"); 
          $("#footer").load("footer.html"); 
        });
        </script> 

    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg' %}" border="0" alt="" /></a>
        </div>
    <![endif]-->

    

</head>
<body>
    
    <div id="home">
        <div class="site-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-header">
                                <span><i class="fa fa-phone"></i>051-90852161</span>
                                <span><i class="fa fa-envelope"></i>iotlab@seecs.edu.pk</span>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="right-header text-right">
                                <ul class="social-icons">
                                    <li><a href="https://www.linkedin.com/in/rafia-mumtaz-6817b535/" class="fa fa-linkedin"></a></li>
                                    <li><a href="https://scholar.google.com/citations?user=i6qLmkkAAAAJ&hl=en&oi=ao" class="fa fa-google-plus"></a></li>
                                    <li><a href="https://twitter.com/RafiaMumtaz4" class="fa fa-twitter"></a></li>
                                </ul>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-header -->
            
            <div class="main-header">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-6">
                            <div class="logo">
                                <!-- <h1><a href="index.html" title="Dreri">Internet of Things Lab</a></h1> -->
                                <a href="index" title="Dreri"><img src="{% static 'images/agridmap.png' %}" height="60px" alt=""></a>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-11 col-sm-11 col-xs-6">
                            <div class="menu text-right hidden-sm hidden-xs">
        
                                <ul>
                                    <li><a onclick="location.href='index'" href="index.html">Home</a></li>
                                    <li><a onclick="location.href='home'" href="">Disease Detector</a></li>
                                    <li><a href="#about">Team</a></li>
                                    <li><a onclick="location.href='publications'" href="publications.html">Publications</a></li>
                                </ul>
                            </div> <!-- /.menu -->
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                    <div class="responsive-menu text-right visible-xs visible-sm">
                        <a href="#" class="toggle-menu fa fa-bars"></a>
                        <div class="menu">
                            <ul>
                                <li><a onclick="location.href='index'" href="index.html">Home</a></li>
                                <li><a onclick="location.href='home'" href="">Disease Detector</a></li>
                                <li><a href="#about">Team</a></li>
                                <li><a onclick="location.href='publications'" href="publications.html">Publications</a></li>
                            </ul>
                        </div> <!-- /.menu -->
                    </div> <!-- /.responsive-menu -->
                </div> <!-- /.container -->
            </div> <!-- /.header -->
        </div> <!-- /.site-header -->
    </div> <!-- /#home -->


    <div id="about" class="section-cotent">
        <div class="container">
            <br>
            <div class="title-section text-center"> 
                <h2>Our R & D Team</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="our-team">
                    
                    <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drRafia.jpg' %}" alt="Dr Rafia">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Rafia Mumtaz
                                </h5>
                                <span>Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drFaisal.jpg' %}" alt="Dr Faisal">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Faisal Shafait
                                </h5>
                                <span>Co Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/drAli.jpg' %}" alt="Dr Ali">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Dr. Muhammad Ali Tahir 
                                </h5>
                                <span>Co Principle Investigator
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                  </div>

                  <br>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="{% static 'images/team/uferah.jpg' %}" alt="Uferah">
                                    
                                </div>
                                <div class="inner-content">
                                    <h5>Ms. Uferah Shafi
                                    </h5>
                                    <span>Imaging and Machine learning
                                    </span>
                                    
                                </div>
                            </div> <!-- /.team-member -->
                        </div> <!-- /.col-md-4 -->
                    </div>


                <br>
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/ihsan.png' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Ihsan Ul Haq</h5>
                                <span>Embedded Engineer
                                </span>
                            </div>
                        </div> 
                    </div> 


                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img width="500" height="600" src="{% static 'images/team/talha.jpeg' %}" alt="Talha">
                               
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Muhammad Talha
                                </h5>
                                <span>Web developer
                                </span>
                                
                            </div>
                        </div> 
                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/usama.jpg' %}" alt="Usama">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Usama Shujaat</h5>
                                <span>Cloud Engineer</span>
                            </div>
                        </div> <!-- /.team-member -->
                    </div> <!-- /.col-md-4 -->
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/hasan.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Muhammad Hassan Maqsood</h5>
                                <span>AWS Cloud & Machine Learning
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/abdullah.jpg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Abdullah</h5>
                                <span>Embedded System Engineer
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                </div>
                
                <br>
                <div class="row">
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/rafay.jpeg' %}" alt="Abdul Rafeh">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Abdur Rafay</h5>
                                <p>BE EE Student
                                </p>
                                <span>AWS cloud & Machine Learning
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/deed.png' %}" alt="deedahwar">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Deedahwar Mazhar</h5>
                                </p>
                                <span>Technical Assistant
                                </span>
                                
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="{% static 'images/team/hassan.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Hassan Raza Bukhari </h5>
                                
                                <span>Machine Learning
                                </span>
                                
                            </div>
                        </div> <!-- /.team-member -->
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-member">
                            <div class="member-img">
                                <img width="500" height="600" src="{% static 'images/team/salman.jpeg' %}" alt="Ihsan">
                                
                            </div>
                            <div class="inner-content">
                                <h5>Mr. Salman Inayat
                                </h5>
                                
                                <span>Mobile Developer
                                </span>
                                
                            </div>
                        </div> 
                    </div>

                </div>

                <br>
                <div class="row">
                    

                    

                </div>

                </div> <!-- /.our-team -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Copyright &copy; 2023 IoT Lab, NUST-SEECS</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Back to Top
                        </a>
                    </div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">

        function initialize() {
          var mapOptions = {
			  scrollwheel: false,
            zoom: 15,
            center: new google.maps.LatLng(13.758468,100.567481)
          };

          var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>

</body>
</html>